* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
    border: none;
}

html {
    scroll-behavior: smooth;
}

.overlay-bg {
    background-color: #f7fafc;
    background-image: url('/public/images/main-bg.jpeg');
    background-size: 100% 340px;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.overlay-bg-abreshim {
    background-image: url('./assets/abreshim-bg.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: 100% 340px;
    background-color: #f7fafc;
}
